<div class="list-mycars">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="filter-trips">
          <div class="content-filter">
            <div class="rent-car">
              <div class="line-form">
                <label class="label">Trạng Thái </label>
                <div class="wrap-select">
                  <select (change)="filterCarsByStatus($event)">
                    <option value="4">Tất cả</option>
                    <option value="1">Đang hoạt động</option>
                    <option value="0">Đang chờ duyệt</option>
                    <option value="2">Đã bị từ chối</option>
                    <option value="3">Ngừng hoạt động</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-9">
        <div *ngIf="displayCars.length == 0">Chưa có xe nào</div>
        <div *ngFor="let car of displayCars" class="listview-car">
          <div class="card">
            <div class="funtion">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <i class="pi pi-ellipsis-v" style="cursor: pointer"></i>
              </button>
              <mat-menu #menu="matMenu">
                <button [routerLink]="['/owner/mycars', car.id]" mat-menu-item>
                  Xem chi tiết
                </button>
                <button
                  *ngIf="car.status != 3"
                  (click)="delete(car)"
                  mat-menu-item
                >
                  Ngừng hoạt động
                </button>
                <button
                  *ngIf="car.status == 3"
                  (click)="comeBack(car)"
                  mat-menu-item
                >
                  Hoạt động lại
                </button>
              </mat-menu>
            </div>
            <div class="blog-widget row">
              <div class="col-4">
                <div class="blog-img">
                  <a [routerLink]="['/owner/mycars', car.id]">
                    <img
                      [src]="car.carImages[0]"
                      class="img-fluid"
                      alt="blog-img"
                    />
                  </a>
                </div>
              </div>
              <div class="col-8">
                <div class="blog-list-head d-flex">
                  <div class="blog-list-title">
                    <h3>{{ car.name }}</h3>
                    <h6>{{ getManufacturerName(car.manufacturerId) }}</h6>
                  </div>
                  <div class="blog-list-rate">
                    <div class="list-rating">
                      <i class="fa fa-star filled"></i>
                      <i class="fa fa-star filled"></i>
                      <i class="fa fa-star filled"></i>
                      <i class="fa fa-star filled"></i>
                      <i class="fa fa-star filled"></i>
                      <span>(5.0) - 3 chuyến</span>
                    </div>
                    <h6>{{ car.rentalPrice | moneyPipe }}<span>/ Day</span></h6>
                  </div>
                </div>
                <div class="listing-details-group mb-3">
                  <div class="car-gadgets">
                    <div class="group-label">
                      <div class="car-gadgets__item">Số tự động</div>
                      <div class="car-gadgets__item">GPS</div>
                      <div class="car-gadgets__item">Bluetooth</div>
                      <div class="car-gadgets__item">Điều hòa</div>
                      <div class="car-gadgets__item">Đèn pha tự động</div>
                      <div class="car-gadgets__item">Hệ thống âm thanh</div>
                    </div>
                  </div>
                </div>
                <div class="blog-list-head list-head-bottom d-flex">
                  <div class="blog-list-title">
                    <div class="address-info">
                      <h6>
                        <i class="fa fa-car me-2"></i>{{ car.licensePlates }}
                      </h6>
                      <h6>
                        <i
                          style="margin-right: 12px"
                          class="fa fa-map-marker ms-1"
                        ></i
                        >{{ car.location }}
                      </h6>
                    </div>
                  </div>
                  <div class="listing-button">
                    <p-button
                      *ngIf="car.status == 0"
                      label="Đang chờ duyệt"
                      styleClass="p-button-warning"
                    ></p-button>
                    <p-button
                      *ngIf="car.status == 3"
                      label="Ngừng hoạt động"
                      styleClass="p-button-danger"
                    ></p-button>
                    <p-button
                      *ngIf="car.status == 1"
                      label="Đang hoạt động"
                      styleClass="p-button-success"
                    ></p-button>
                  </div>
                </div>
                <h6
                  style="
                    font-style: italic;
                    margin: 0;
                    text-align: end;
                    font-size: 12px;
                  "
                >
                  đã thêm 3 ngày trước
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
