<section class="body no-pd-on-mobile">
    <div class="my-card__sect">
       <div class="m-container">
          <div class="my-card__wrap">
             <h3 class="n-title">THẺ CỦA TÔI</h3>
             <a class="btn btn--m btn-add-card hide-on-med"><i class="ic ic-plus"></i>Thêm thẻ</a>
          </div>
       </div>
    </div>
    <div class="list-card__sect module-trips module-map">
       <div class="trip-container">
          <div class="box-card__wrap">
             <div style="text-align: center;">
                <img src="../../../assets/image/my-card.41bef9ce.svg" class="img-fluid img-default" style="width: 50%; margin-top: 50px;">
                <p class="fontWeight-6 font-14">Bạn chưa có thẻ nào</p>
             </div>
          </div>
       </div>
    </div>
 </section>


