body {
  font-family: var(--font-family);
  background-color: #e8eaef;
}
a {
  text-decoration: none !important;
  color: #141414;
}
a:hover {
  color: #00a550;
  cursor: pointer;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
