<form class="modal-content" role="document">
    <div class="modal-header">
      <h4 class="modal-title">Đổi mật khẩu</h4>
    </div>
    <div class="modal-body">
      <div class="form-default form-s">
        <div class="line-form">
          <div class="wrap-input has-ico">
            <i class="ic ic-lock-fill"></i
            ><input type="password" placeholder="Mật khẩu hiện tại" name="ip_password" />
          </div>
        </div>
        <div class="line-form">
          <div class="wrap-input has-ico">
            <i class="ic ic-lock-fill"></i
            ><input type="password" placeholder="Mật Khẩu mới" name="ip_password" />
          </div>
        </div>
        <div class="line-form">
          <div class="wrap-input has-ico">
            <i class="ic ic-lock-fill"></i
            ><input type="password" placeholder="Xác nhận mật Khẩu mới" name="ip_password" />
          </div>
        </div>
        <div class="clear"></div>
        <button type="submit" class="btn btn-primary btn--m">CẬP NHẬT</button>
      </div>
    </div>
  </form>
  <p-toast></p-toast>
  
  

