<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="modal-content" role="document">
  <div class="modal-header">
    <h4 class="modal-title">Đổi mật khẩu</h4>
  </div>
  <div class="modal-body">
    <div class="form-default form-s">
      <div class="line-form">
        <div class="wrap-input has-ico">
          <i class="ic ic-lock-fill"></i
          ><input type="password" placeholder="Mật khẩu hiện tại" name="ip_password" formControlName="currentPassword" />
        </div>
        <div *ngIf="changePasswordForm.get('currentPassword')?.invalid && (changePasswordForm.get('currentPassword')?.dirty || changePasswordForm.get('currentPassword')?.touched)" class="error">
          <div *ngIf="changePasswordForm.get('currentPassword')?.errors?.['required']">Mật khẩu hiện tại không được để trống.</div>
        </div>
        <div *ngIf="changePasswordForm.get('currentPassword')?.hasError('minlength')">
          Mật khẩu cần tối thiếu 6 ký tự.
        </div>
      </div>
      <div class="line-form">
        <div class="wrap-input has-ico">
          <i class="ic ic-lock-fill"></i
          ><input type="password" placeholder="Mật Khẩu mới" name="ip_password" formControlName="newPassword" />
        </div>
        <div *ngIf="changePasswordForm.get('newPassword')?.invalid && (changePasswordForm.get('newPassword')?.dirty || changePasswordForm.get('newPassword')?.touched)" class="error">
          <div *ngIf="changePasswordForm.get('newPassword')?.errors?.['required']">Mật khẩu mới không được để trống.</div>
        </div>
        <div *ngIf="changePasswordForm.get('newPassword')?.hasError('minlength')">
          Mật khẩu cần tối thiếu 6 ký tự.
        </div>
      </div>
      <div class="line-form">
        <div class="wrap-input has-ico">
          <i class="ic ic-lock-fill"></i
          ><input type="password" placeholder="Xác nhận mật Khẩu mới" name="ip_password" formControlName="newPasswordConfirm" />
        </div>
        <div *ngIf="changePasswordForm.get('newPasswordConfirm')?.invalid && (changePasswordForm.get('newPasswordConfirm')?.dirty || changePasswordForm.get('newPasswordConfirm')?.touched)" class="error">
          <div *ngIf="changePasswordForm.get('newPasswordConfirm')?.errors?.['required']">Mật khẩu mới xác nhận không được để trống.</div>
        </div>
        <div *ngIf="changePasswordForm.get('newPasswordConfirm')?.hasError('mismatch')">
          Mật khẩu mới xác nhận không khớp
        </div>
      </div>
      <div class="clear"></div>
      <button type="submit" class="btn btn-primary btn--m">CẬP NHẬT</button>
    </div>
  </div>
</form>
<p-toast></p-toast>



