.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(61, 60, 60, 0.7);
  z-index: 15;
}
.register-title {
  display: block;
  margin-bottom: 20px;
  color: #141414;
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1.5;
}
::ng-deep .mapboxgl-ctrl-bottom-left {
  display: none !important;
}
::ng-deep .mapboxgl-ctrl-bottom-right {
  display: none !important;
}
::ng-deep .mat-mdc-form-field {
  display: block !important;
}
.upload__box {
  padding: 40px;
  background-color: #f8f9fb;
}
.upload__inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.upload__btn {
  display: inline-block;
  font-weight: 600;
  color: #fff;
  text-align: center;
  min-width: 116px;
  padding: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 2px solid;
  background-color: #00a550;
  border-color: #00a550;
  border-radius: 10px;
  line-height: 26px;
  font-size: 14px;
}
.upload__btn:hover {
  background-color: unset;
  color: #4045ba;
  transition: all 0.3s ease;
}
.upload__btn-box {
  margin-bottom: 10px;
  text-align: center;
  line-height: 165px;
}
.upload__img-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.upload__img-box {
  width: 188px;
  padding: 0px 5px;
  margin-bottom: 12px;
}
.upload__img-close {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  line-height: 24px;
  z-index: 1;
  cursor: pointer;
}
.upload__img-close:after {
  content: "✖";
  font-size: 14px;
  color: white;
}

.img-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-bottom: 100%;
}
.price {
  text-align: end;
  font-weight: 700;
  font-size: 24px;
  color: #00a550;
}
.day {
  font-weight: 100;
  font-size: 18px;
  color: #000000;
}
textarea {
  height: 125px !important;
}
