<div
  class="dropdown-menu"
  aria-labelledby="dropdownMenuButton"
  style="min-width: 10vw"
>
  <ul>
    <li><a routerLink="/account">Tài khoản</a></li>
    <li><a routerLink="/myfavs">Xe yêu thích</a></li>
    <li><a routerLink="owner/mycars">Xe cho thuê</a></li>
    <li><a routerLink="/rentedcars">Xe đã thuê</a></li>
    <li><a routerLink="/myaddress">Địa chỉ của tôi</a></li>
    <li><a routerLink="/mycard">Thẻ của tôi </a></li>
    <li><a (click)="changePassword($event)">Đổi mật khẩu</a></li>
    <li><a (click)="logout()">Đăng xuất</a></li>
  </ul>
</div>

<p-dialog
  [(visible)]="visible"
  *ngIf="visible"
  [modal]="true"
  [style]="{ width: '500px' }"
  [draggable]="false"
  [resizable]="false"
  [contentStyle]="{
    'overflow-y': 'hidden',
    'overflow-x': 'hidden'
  }"
>
  <app-change-password (click)="onClickChangePassword($event)"></app-change-password>
</p-dialog>
