<div
   class="dropdown-menu"
   aria-labelledby="dropdownMenuButton"
   style="min-width: 10vw"
   >
   <ul>
      <li><a href="/account">Tài khoản</a></li>
      <li><a href="/myfavs">Xe yêu thích</a></li>
      <li><a href="/mycars">Xe cho thuê</a></li>
      <li>
         <a><span class="">Xe đã thuê</span></a>
      </li>
      <li><a href="/myaddress">Địa chỉ của tôi</a></li>
      <li><a href="/mycard">Thẻ của tôi </a></li>
      <li>
         <a><span class="">Khuyến mãi</span></a>
      </li>
      <li><a href="/sharedcode">Giới thiệu bạn mới</a></li>
      <li><a href="/myreward">Quà tặng</a></li>
      <li><a (click)="showChangePasswordDialog()">Đổi mật khẩu</a></li>
      <li><a (click)="logout()">Đăng xuất</a></li>
   </ul>
</div>

<p-dialog
  [(visible)]="visible"
  *ngIf="visible"
  [modal]="true"
  [style]="{ width: '500px' }"
  [draggable]="false"
  [resizable]="false"
  [contentStyle]="{
    'overflow-y': 'hidden',
    'overflow-x': 'hidden'
  }"
>
  <app-change-password></app-change-password>
</p-dialog>