<div class="slidebar-control">
  <div class="sidebar-settings">
    <ul class="p-0">
      <li routerLink="mycars" routerLinkActive="active">
        <a>
          <i class="fa fa-car"></i>
          <span>Danh sách xe</span>
        </a>
      </li>
      <li routerLink="registerCar" routerLinkActive="active">
        <a routerLink="registerCar">
          <i class="fa fa-plus"></i>
          <span>Đăng ký xe</span>
        </a>
      </li>
      <li routerLink="calendars" routerLinkActive="active">
        <a>
          <i class="fa fa-calendar"></i>
          <span>Quản lý lịch</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
