<form class="modal-content" role="document">
    <div class="modal-header">
      <h4 class="modal-title">Đăng ký tài khoản</h4>
    </div>
    <div class="modal-body">
      <div class="form-default form-s">
        <div class="line-form">
          <div class="wrap-input has-ico">
            <i class="ic ic-phone-fill"></i
            ><input
              type="text"
              placeholder="Số điện thoại hoặc email"
              name="ip_username"
            />
          </div>
        </div>
        <div class="line-form">
          <div class="wrap-input has-ico">
            <i class="ic ic-user-fill"></i
            ><input type="text" placeholder="Tên hiển thị" name="ip_name" />
          </div>
        </div>
        <div class="line-form has-2input">
          <div class="wrap-input"><input type="password" name="ip_password" placeholder="Mật khẩu"></div>
          <div class="wrap-input"><input type="password" name="ip_password_confirm" placeholder="Xác nhận mật khẩu"></div>
       </div>
      <div class="line-form">
        <div class="wrap-input"><input type="text" name="ip_sharecode" placeholder="Nhập mã giới thiệu nếu có"></div>
      </div>
        <div class="clear"></div>
        <button type="submit" class="btn btn-primary btn--m">ĐĂNG KÝ</button>
        <p class="text-center" style="cursor: pointer">
          Hoặc đăng nhập bằng tài khoản
        </p>
        <div class="wr-btn-share">
          <div class="wr-btn">
            <a class="btn btn-facebook btn--m" type="button"
              ><i class="ic ic-facebook"></i> Facebook</a
            >
          </div>
          <div class="wr-btn">
            <a class="btn btn-google btn--m" type="button"
              ><i class="ic ic-google"></i> Google</a
            >
          </div>
        </div>
      </div>
    </div>
  </form>
  <p-toast></p-toast>
  
  
