<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="modal-content" role="document">
    <div class="modal-header">
      <h4 class="modal-title">Đăng ký tài khoản</h4>
    </div>
    <div class="modal-body">
      <div class="form-default form-s">
        <div class="line-form">
          <div class="wrap-input has-ico">
            <i class="ic ic-phone-fill"></i
            ><input
              type="text"
              id="username"
              placeholder="Số điện thoại hoặc email"
              formControlName="username"
              required
            />
          </div>
          <div *ngIf="registerForm.get('username')?.invalid && (registerForm.get('username')?.dirty || registerForm.get('username')?.touched)" class="error">
            <div *ngIf="registerForm.get('username')?.errors?.['required']">Username không được để trống.</div>
          </div>
          <div *ngIf="registerForm.get('username')?.hasError('pattern')">
            Số điện thoại hoặc email không hợp lệ.
          </div>
        </div>
        <div class="line-form">
          <div class="wrap-input has-ico">
            <i class="ic ic-user-fill"></i
            ><input type="text" placeholder="Tên hiển thị" id="fullName" formControlName="fullName" required/>
          </div>
          <div *ngIf="registerForm.get('fullName')?.invalid && (registerForm.get('fullName')?.dirty || registerForm.get('fullName')?.touched)" class="error">
            <div *ngIf="registerForm.get('fullName')?.errors?.['required']">Tên hiển thị không được để trống.</div>
          </div>
        </div>
        <div class="line-form has-2input">
          <div class="wrap-input"><input type="password" id="password" formControlName="password" placeholder="Mật khẩu" required></div>
          <div class="wrap-input"><input type="password" id="password_confirm" formControlName="password_confirm" placeholder="Xác nhận mật khẩu" required></div>
          <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)" class="error">
            <div *ngIf="registerForm.get('password')?.errors?.['required']">Mật khẩu không được để trống.</div>
          </div>
          <div *ngIf="registerForm.get('password_confirm')?.invalid && (registerForm.get('password_confirm')?.dirty || registerForm.get('password_confirm')?.touched)" class="error">
            <div *ngIf="registerForm.get('password_confirm')?.errors?.['required']">Mật khẩu xác nhận không được để trống.</div>
          </div>
          <div *ngIf="registerForm.get('password')?.hasError('minlength')">
            Mật khẩu cần tối thiếu 6 ký tự.
          </div>
          <div *ngIf="registerForm.get('password_confirm')?.hasError('mismatch')">
            Mật khẩu xác nhận không khớp
          </div>
       </div>
      <div class="line-form">
        <div class="wrap-input"><input type="text" name="ip_sharecode" placeholder="Nhập mã giới thiệu nếu có"></div>
      </div>
        <div class="clear"></div>
        <button type="submit" class="btn btn-primary btn--m">ĐĂNG KÝ</button>
        <p class="text-center" style="cursor: pointer">
          Hoặc đăng nhập bằng tài khoản
        </p>
        <div class="wr-btn-share">
          <div class="wr-btn">
            <a class="btn btn-facebook btn--m" type="button"
              ><i class="ic ic-facebook"></i> Facebook</a
            >
          </div>
          <div class="wr-btn">
            <a class="btn btn-google btn--m" type="button"
              ><i class="ic ic-google"></i> Google</a
            >
          </div>
        </div>
      </div>
    </div>
  </form>
  <p-toast></p-toast>
  
  
