<form (ngSubmit)="onSubmit($event)" class="modal-content" role="document">
  <div class="modal-header">
    <h4 class="modal-title">Đăng nhập</h4>
  </div>
  <div class="modal-body">
    <div class="form-default form-s">
      <div class="line-form">
        <div class="wrap-input has-ico">
          <i class="ic ic-email-fill"></i
          ><input
            type="text" [(ngModel)]="account.username"
            placeholder="Số điện thoại hoặc email"
            name="ip_username"
          />
        </div>
      </div>
      <div class="line-form">
        <div class="wrap-input has-ico">
          <i class="ic ic-lock-fill"></i
          ><input type="password" [(ngModel)]="account.password" placeholder="Mật Khẩu" name="ip_password" />
        </div>
      </div>
      <a class="forgot-password">Quên mật khẩu?</a>
      <div class="clear"></div>
      <button type="submit" class="btn btn-primary btn--m">Đăng nhập</button>
      <p>Bạn chưa là thành viên? <a class="register-now" (click)="displayRegister()">Hãy đăng ký ngay!</a></p>
      <span class="line"></span>
      <p class="text-center" style="cursor: pointer">
        Hoặc đăng nhập bằng tài khoản
      </p>
      <div class="wr-btn-share">
        <div class="wr-btn">
          <a class="btn btn-facebook btn--m" type="button"
            ><i class="ic ic-facebook"></i> Facebook</a
          >
        </div>
        <div class="wr-btn">
          <a class="btn btn-google btn--m" type="button"
            ><i class="ic ic-google"></i> Google</a
          >
        </div>
      </div>
    </div>
  </div>
</form>
<p-toast></p-toast>

